/*
* Licensed to the Apache Software Foundation (ASF) under one or more
* contributor license agreements.  See the NOTICE file distributed with
* this work for additional information regarding copyright ownership.
* The ASF licenses this file to You under the Apache License, Version 2.0
* (the "License"); you may not use this file except in compliance with
* the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
*/
/*=============================================================================
                         Navbar at the top of the page
=============================================================================*/

body {
	padding-top: 80px;
}

.jumbotron{
	margin-top: -30px;
}

/* Links */
.navbar-default .navbar-nav > li > a {
	color: black;
	font-weight: bold;
}
.navbar-default .navbar-nav > li > a:hover {
	background: #E7E7E7;
}

.navbar-collapse .dropdown-header {
	color: black;
}
img.navbar-logo{
	float: left;
	height: 40px;
	width: 40px;
	margin: 5px;
	margin-right: 10px;

}

.footer {
	margin-top: 30px;
	padding: 10px;
	background-color: #EFEFEF;
	color: #505050;
	font-size: 80%;
}

.kyuubi-logo {

}
/*=============================================================================
                                    Text
=============================================================================*/

/* The auto-generated TOC anchors are hidden by the top navbar otherwise. */
h1, h2, h3, h4, h5, h6 {
    padding-top: 70px;
    margin-top: -60px;
}

h1 {
	font-size: 160%;
}

h2 {
	font-size: 140%;
}

h3, h4, h5, h6 {
	font-size: 120%;
}

/*=============================================================================
                              Table of Contents
=============================================================================*/

.page-toc {
	padding-bottom: 2em;
}

#markdown-toc {
	font-size: 90%;
}

@media (min-width: 768px) {
	#markdown-toc {
		/*width: 35%;*/
	}
}

/* Custom list styling */
#markdown-toc, #markdown-toc ul {
	list-style: none;
	display: block;
	position: relative;
	padding-left: 0;
	margin-bottom: 0;
}

/* All element */
#markdown-toc li > a {
	display: block;
	padding: 5px 10px;
	border: 1px solid #E5E5E5;
	margin:-1px;
}
#markdown-toc li > a:hover,
#markdown-toc li > a:focus {
  text-decoration: none;
  background-color: #eee;
}

/* 1st-level elements */
#markdown-toc > li > a {
	font-weight: bold;
}

/* 2nd-level element */
#markdown-toc > li li > a {
	padding-left: 20px; /* A little more indentation*/
}

/* >= 3rd-level element */
#markdown-toc > li li li {
	display: none; /* hide */
}

#markdown-toc li:last-child > a {
	border-bottom: 1px solid #E5E5E5;
}
